/*requirements for resume styling assignmet

Create 2 links
Set the color of the links and remove the underline. - 10 points
Style :hover effect. - 10 points
Use one or two custom fonts - 10 points
Make sure you use an external stylesheet using the tag. - 10 Points
Style 2 elements (ie a, p, b, address, etc) - 10 points
Create and use 2 id - 20 points
Create and use 5 classes, use the classes more than once - 25 points
Make sure you validate your work (css validator, html validator) - 5 points

*/

.column {
    float: left;
    background-color: rgb(194,242,255);
}

.left {
  width: 30%;
  margin: 0;
  padding: 0;
}

.right {
  width: 70%;
}


h1 {
  font-family: UnifrakturMaguntia;
  color: white
}

h2 {
  font-family: Pirata One;
  font-size: 60px;
  color: white;
  background-color: blue;
  width:1em;
  height: 100vh;
  margin: 0;
}
