/*requirements for resume styling assignmet

Create 2 links
Set the color of the links and remove the underline. - 10 points
Style :hover effect. - 10 points
Use one or two custom fonts - 10 points
Make sure you use an external stylesheet using the tag. - 10 Points
Style 2 elements (ie a, p, b, address, etc) - 10 points
Create and use 2 id - 20 points
Create and use 5 classes, use the classes more than once - 25 points
Make sure you validate your work (css validator, html validator) - 5 points

*/

.column {
    float: left;
    background-color: rgb(194,242,255);
}

.left {
  width: 30%;
  margin: 0;
  padding: 0;
}

.righttop {
  background-color: blue;
  width: 70%;
  text-align: center;
}

.rightbottom {
  background-color: white;
  width: 70%;
  text-align: left;
}


h1 {
  font-family: UnifrakturMaguntia;
  font-size: 110px;
  color: pink;
  text-align: center;
}

p {
  margin-left: 20px;
}

.centeralign {
  font-family: Pirata One;
  font-size: 40px;
  color: white;
  text-align: center;
  background-color: blue;
}

ul {
    list-style: none; /* Remove list bullets */
}

.leftalign {
  font-family: Pirata One;
  font-size: 40px;
  color: white;
  background-color: blue;
  text-indent: inherit;
}

/* unvisited link */ a:link { color: black; text-decoration: none;}
/* visited link */ a:visited { color: black; text-decoration: none;}

img {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin-left: 25px;
  margin-top: 34px;
}

a:hover {
    background-color: pink;
    color: white;
}
